@page "/stock"


@inject  NavigationManager NavigationManager
@inject PolygonService PolygonService
@inject CompanyService CompanyService
<div>
    <h3>Search Company</h3>
    <button class="btn btn-primary" @onclick="LogOut">Log out</button>
</div>

<div class="form-group">
    <label for="symbolInput">Symbol:</label>
    <input id="symbolInput" class="form-control" value="@Symbol" @oninput="UpdateSymbol" />
</div>
<div>
    <button class="btn btn-primary" @onclick="Search">Search</button>
    <button class="btn btn-primary" @onclick="Chart">Chart</button>
    <button class="btn btn-primary" @onclick="AddToOb">+</button>
</div>


@if (_added)
{
    <p>@_company.Name has been added to watched</p>
}
@if(_IsLoading)
{
    <p><em>Loading...</em></p>
}
@if (_company != null)
{
    <h4>Company Information</h4>
    <p><strong>Logo:</strong> <img src="@_company.Logo" alt="Company Logo" /></p>
    <p><strong>List Date:</strong> @_company.ListDate.ToString("yyyy-MM-dd")</p>
    <p><strong>CIK:</strong> @_company.Cik</p>
    <p><strong>Bloomberg:</strong> @_company.Bloomberg</p>
    <p><strong>SIC:</strong> @_company.Sic</p>
    <p><strong>Country:</strong> @_company.Country</p>
    <p><strong>Industry:</strong> @_company.Industry</p>
    <p><strong>Sector:</strong> @_company.Sector</p>
    <p><strong>Market Cap:</strong> @_company.MarketCap</p>
    <p><strong>Employees:</strong> @_company.Employees</p>
    <p><strong>Phone:</strong> @_company.Phone</p>
    <p><strong>CEO:</strong> @_company.Ceo</p>
    <p><strong>URL:</strong> <a href="@_company.Url" target="_blank">@_company.Url</a></p>
    <p><strong>Description:</strong> @_company.Description</p>
    <p><strong>Exchange:</strong> @_company.Exchange</p>
    <p><strong>Name:</strong> @_company.Name</p>
    <p><strong>Symbol:</strong> @_company.Symbol</p>
    <p><strong>HQ Address:</strong> @_company.HqAddress</p>
    <p><strong>HQ State:</strong> @_company.HqState</p>
    <p><strong>HQ Country:</strong> @_company.HqCountry</p>
    <p><strong>Type:</strong> @_company.Type</p>
    <p><strong>Active:</strong> @_company.Active</p>
  
                                                 
}
else if (_company == null && !_IsLoading)
{
    <p>No company found.</p>
}






@code 
{
    
  
    public Company? _company;
    private string Symbol;
    private bool _IsLoading;
    private bool _added;
    
    private void UpdateSymbol(ChangeEventArgs e)
    {
        Symbol = e.Value.ToString();
    }

    private async Task Search()
    {
        _IsLoading = true;
        try
        {
            var companyData = await PolygonService.GetCompanyAsync(Symbol);
            if (companyData != null)
            {
                _company = companyData;
            }
            else
            {
                _company = null; 
            }
        }
        catch
        {
            _company = null; 
        }
        _IsLoading = false;
    }


    private void Chart()
    {
         NavigationManager.NavigateTo("/chart");
    }
    private void LogOut()
    {
        NavigationManager.NavigateTo("/");
    }
    
    private async Task AddToOb()
    {
        if (_company != null)
        {
            try
            {
                await CompanyService.AddCompany(_company);  
            }
            catch (Exception e)
            {
                _added = true;
            }
           
        }
    }
    
    
}
